// MIXINS.SCSS

// MIXING FOR USING FLOATS IN CUSTOM GRID 
@mixin clearFix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

// MIXIN FOR POSITIONING WIHT ABSOLUT
@mixin AbsCenter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
}