//BLACK
$color-black: #000000;

//TEXT COLOR
$color-text-light: #f9f7f6;
$color-text-medium: #aaa;
$color-text-dark: #404040;

// GRID
$grid-width: 100%;
$gutter-horizontal: 1.5rem;

// FONT-SIZE
$default-font-size: 1.6rem;

