// FOOTER.SCSS

.footer {
    height: 40rem;
    background-color: $color-dark-bg;
    
}

.footer-SoMe {
    display: inline-block;
    margin-right: 7%;
    display: flex;
    justify-content: flex-end;
    &__list {

        &--item {
            display: inline-block;
            padding-left: .5rem;
      padding-top: 7.8rem;
        }

        &--icon {
            font-size: 5rem;
            color: $color-text-medium;
        }
    }
}

.footer-link {

    &__list {
        text-align: left;

        &--item {
            list-style-type: none;
        }
    }
}
