// GRID.SCSS

//CLEAR-FIX
@include clearFix;

.row {
  max-width: $grid-width;
  margin: 0 auto;
  padding: .8rem;
  
}

[class^="col-"] {
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal--section-information;
  }
}


// GRID CALCULATIONS
.col-1-of-3-information {
  width: calc((95% - 2 * #{$gutter-horizontal--house-information}) / 3);
    height: 62vh;
}

.col-1-of-3 {
  width: calc((95% - 2 * #{$gutter-horizontal--house-information}) / 3);
    height: 30vh;
}

.col-1-of-2 {
  width: calc((95% - #{$gutter-horizontal--section-information}) / 2);
  
}