// BASE.SCSS

// RESET OF CSS IN BROWSER
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    // Defiens what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}