// HOME.SCSS

.section-information {
    height: 25vh;
    &__heading {
       text-align: center;
    }

    &__grid {
     
        &--paragraph {
            overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
        }
    }

}

.section-houseInformation {
    background-color: $color-grey-bg;

    &__card {
        background-color: $color-light-bg;

        &--photo {
            background-size: cover;
            width: 100%;
            height: 35vh;
        }
    }
}

.section__image {
    position: relative;
    &--photo {
        max-width: 100%;
        background-image: cover;
        overflow: hidden;  
    }
}